## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,79.93,67,23,4.90,light rain
1,1,Charters Towers,AU,-20.1000,146.2667,84.96,52,100,12.28,overcast clouds
2,2,San Patricio,US,28.0170,-97.5169,53.17,66,100,6.87,overcast clouds
3,3,Goundam,ML,16.4145,-3.6708,68.76,17,0,9.78,clear sky
4,4,Jardim,BR,-21.4803,-56.1381,73.96,93,100,5.14,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,79.93,67,23,4.90,light rain
1,1,Charters Towers,AU,-20.1000,146.2667,84.96,52,100,12.28,overcast clouds
10,10,Unidad,PH,8.5350,126.2306,81.21,73,100,9.55,overcast clouds
11,11,Balabac,PH,7.9868,117.0645,81.09,77,99,14.05,overcast clouds
21,21,Vaini,TO,-21.2000,-175.2000,80.10,84,94,33.49,moderate rain
...,...,...,...,...,...,...,...,...,...,...
637,637,Boa Vista,BR,2.8197,-60.6733,80.60,61,0,9.22,clear sky
641,641,Meulaboh,ID,4.1363,96.1285,76.12,85,100,5.10,overcast clouds
644,644,Barra Dos Coqueiros,BR,-10.9089,-37.0386,80.60,74,40,9.22,scattered clouds
655,655,Puerto Carreno,CO,6.1890,-67.4859,80.67,51,21,11.92,few clouds
662,662,Kloulklubed,PW,7.0419,134.2556,81.86,80,100,20.22,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                166
City                   166
Country                166
Lat                    166
Lng                    166
Max Temp               166
Humidity               166
Cloudiness             166
Wind Speed             166
Current Description    166
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,79.93,67,23,4.90,light rain
1,1,Charters Towers,AU,-20.1000,146.2667,84.96,52,100,12.28,overcast clouds
10,10,Unidad,PH,8.5350,126.2306,81.21,73,100,9.55,overcast clouds
11,11,Balabac,PH,7.9868,117.0645,81.09,77,99,14.05,overcast clouds
21,21,Vaini,TO,-21.2000,-175.2000,80.10,84,94,33.49,moderate rain
...,...,...,...,...,...,...,...,...,...,...
637,637,Boa Vista,BR,2.8197,-60.6733,80.60,61,0,9.22,clear sky
641,641,Meulaboh,ID,4.1363,96.1285,76.12,85,100,5.10,overcast clouds
644,644,Barra Dos Coqueiros,BR,-10.9089,-37.0386,80.60,74,40,9.22,scattered clouds
655,655,Puerto Carreno,CO,6.1890,-67.4859,80.67,51,21,11.92,few clouds
662,662,Kloulklubed,PW,7.0419,134.2556,81.86,80,100,20.22,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,79.93,light rain,-23.1203,-134.9692,
1,Charters Towers,AU,84.96,overcast clouds,-20.1000,146.2667,
10,Unidad,PH,81.21,overcast clouds,8.5350,126.2306,
11,Balabac,PH,81.09,overcast clouds,7.9868,117.0645,
21,Vaini,TO,80.10,moderate rain,-21.2000,-175.2000,
28,Carnarvon,AU,80.60,clear sky,-24.8667,113.6333,
35,Kulhudhuffushi,MV,80.56,clear sky,6.6221,73.0700,
37,Cabo San Lucas,MX,75.20,clear sky,22.8909,-109.9124,
38,Mahebourg,MU,75.20,scattered clouds,-20.4081,57.7000,
45,Dingle,PH,76.73,overcast clouds,10.9995,122.6711,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index,row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,79.93,light rain,-23.1203,-134.9692,Pension Maro'i
1,Charters Towers,AU,84.96,overcast clouds,-20.1000,146.2667,Cattleman's Rest Motor Inn
10,Unidad,PH,81.21,overcast clouds,8.5350,126.2306,Baybay ni Duardo
11,Balabac,PH,81.09,overcast clouds,7.9868,117.0645,Sing and Swing Lodge
21,Vaini,TO,80.10,moderate rain,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
637,Boa Vista,BR,80.60,clear sky,2.8197,-60.6733,Aipana Plaza Hotel
641,Meulaboh,ID,76.12,overcast clouds,4.1363,96.1285,Kost Pria
644,Barra Dos Coqueiros,BR,80.60,scattered clouds,-10.9089,-37.0386,Quality Hotel Aracaju
655,Puerto Carreno,CO,80.67,few clouds,6.1890,-67.4859,Casa Hotel Victoria
662,Kloulklubed,PW,81.86,overcast clouds,7.0419,134.2556,Storyboard Beach Resort

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#NEED TO SAVE AS PNG